<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Classification</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <!--Start Header-->
    <header>
      <nav>
        <div class="logo">
          <a href="index.html"><img src="" alt="" /></a>
        </div>
        <div class="toggle">
          <span class="first"></span>
          <span class="middle"></span>
          <span class="last"></span>
        </div>
        <div class="navigation-bar">
          <ul>
            <li class="active">
              <a href="index.html">Home<span class="underline"></span></a>
            </li>
            <li>
              <a href="#">batik<span class="underline"></span></a>
            </li>
            <li>
              <a href="#">Belajar<span class="underline"></span></a>
            </li>
            <li>
              <a href="#">Praktek<span class="underline"></span></a>
            </li>
            <li>
              <a href="#">Shop<span class="underline"></span></a>
            </li>
            <li>
              <a href="#">Contact<span class="underline"></span></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="text">
        <h2>Welcome</h2>
        <h1>THE batik</h1>
        <div class="arrow">
          <span class="left"></span>
          <i class="fas fa-asterisk"></i>
          <span class="right"></span>
        </div>
        <span>Ready To Be Opened</span>
        <div class="button"><button>Explore</button></div>
      </div>
      <svg
        class="svg-down"
        width="192"
        height="61"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        viewBox="0 0 160.7 61.5"
        enable-background="new 0 0 160.7 61.5"
        xml:space="preserve"
      >
        <path
          fill="currentColor"
          d="M80.3,61.5c0,0,22.1-2.7,43.1-5.4s41-5.4,36.6-5.4c-21.7,0-34.1-12.7-44.9-25.4S95.3,0,80.3,0c-15,0-24.1,12.7-34.9,25.4S22.3,50.8,0.6,50.8c-4.3,0-6.5,0,3.5,1.3S36.2,56.1,80.3,61.5z"
        ></path>
      </svg>
      <div class="arrow-down"></div>
    </header>
    <!--End Header-->
    <!--start About Us-->
    <div class="about-us">
      <div class="text">
        <h2>Discover</h2>
        <h3>Our Story</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          voluptate natus! At eum laudantium neque totam deleniti unde,
          voluptatem culpa accusantium cupiditate amet praesentium eos
          perspiciatis eligendi nulla ad ex?
        </p>
        <div><a class="a-CTA" href="#">About Us</a></div>
      </div>
      <div class="image-container">
        <div class="image image1">
          <img
            src="https://cdn.idntimes.com/content-images/community/2022/06/potret-eksotis-telaga-menjer-wonosobo-telaga-cantik-indonesia-info-wisata-telaga-menjer-wonosobo-terkenal-sampai-luar-negeri-ditemukan-orang-belanda-1905-9cde86371d7fc78c91ae80a6ffab250e-496c723e77e4eae1160b4e16197afccc.jpg"
            alt="Food Photo"
          />
        </div>
        <div class="image image2">
          <img
            src="https://cdn.idntimes.com/content-images/community/2022/06/potret-eksotis-telaga-menjer-wonosobo-telaga-cantik-indonesia-info-wisata-telaga-menjer-wonosobo-sejarah-terbentuknya-telaga-menjer-letusan-gunung-9cde86371d7fc78c91ae80a6ffab250e-f3951ea22e2d10cdd21893504588eb4d.jpg"
            alt="Food Photo"
          />
        </div>
      </div>
    </div>
    <!--End About Us-->

    <!--start collection-->
    <div class="collection">
      <div class="image"></div>
      <div class="text">
        <h2>batik</h2>
        <h3>Collections</h3>
      </div>
    </div>
    <!--End collection-->

    <!--start batik-->
    <div class="batik">
      <div class="box-model">
        <i class="fas fa-times fa-2x close"></i>
        <div class="arrow">
          <div class="arrow arrow-right"></div>
          <div class="arrow arrow-left"></div>
        </div>
        <div class="box-image-container">
          <div class="box-image">
            <img src="" alt="Food Photo" />
          </div>
        </div>
      </div>
      <div class="batik-image-container">
        <div class="image active">
          <img
            src="https://3.bp.blogspot.com/-PpudFJX5SmY/WZ0te76OhSI/AAAAAAAABLE/eGFulQZePfQk5Bh9qMshfftvvNr0j-YYACLcBGAs/s1600/batik-pekalongan1.jpg"
            alt="Batik Photo"
          />
        </div>
        <div class="image">
          <img
            src="https://www.blibli.com/friends-backend/wp-content/uploads/2022/10/B100061-macam-macam-batik-dan-asalnya-1.jpg"
            alt="Batik Photo"
          />
        </div>
        <div class="image">
          <img
            src="https://i.etsystatic.com/13990293/r/il/a0b36f/2990151854/il_fullxfull.2990151854_scw6.jpg"
            alt="Batik Photo"
          />
        </div>
        <div class="image">
          <img
            src="https://bergaya.id/wp-content/uploads/2020/03/Batik-Ceplokan.jpg"
            alt="Batik Photo"
          />
        </div>
      </div>
      <div class="text">
        <h2>Discover</h2>
        <h3>batik</h3>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure,
          voluptates voluptatibus cumque nesciunt impedit eos vero voluptatem
          possimus, praesentium, enim mollitia assumenda molestias. Autem
          voluptatibus tempora nemo, ipsum tempore magnam!
        </p>
        <div><a class="a-CTA" href="#">View The Full batik</a></div>
      </div>
    </div>
    <!--End batik-->
    <!--Start fixed-image-->
    <div class="fixed-image">
      <div class="text">
        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" accept="image/*" />
          <p>Drag your files here or click in this area.</p>
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
    <!--End fixed-image-->
    <!--Start Footer-->
    <footer>
      <div class="text">
        <h2>ABOUT ME</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi ipsum
          veritatis, sapiente optio laboriosam harum debitis atque, vero
          voluptatibus, quia id corporis expedita corrupti sunt? Officiis sequi
          harum ut est.
        </p>
      </div>
    </footer>
    <!--End Footer-->

    <!--End Copy-Right-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
